div(ng-app='myApp.services', ng-controller='ReviewGraphCtrl', ng-init="reviewGraph.populateReviews()")
  #wordCloud(bearpelican="reviewGraph.wordArray", style="width: 550px; height: 350px; position: relative;")