/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

body {
    background-color: #333
}


.dashText {
    text-align:center;
    font-size: 50px;
    color:#050505;
}

.title {
    font-size: 120px;
    color: #ddd;
    float: left;
    text-align:right;
    width: 45%;
}

.container {
    width:45%;
    float:left;
}

.header {
    height:30px;
}

.rating {
    font-size: 40px;
    color: #222;
}

.rank {
    color: #222;
}

#wordCloud {
    width: 700px;
    height: 400px;
    margin-left:auto;
    margin-right:auto;
    clear:both;
}

.rankChange {
    color: #222;
}

.ratingChange {
    color: #2a3
}